#app-toolbar {
    background:lightblue;
    position:absolute;
    left:20px;
    top:20px;
    z-index: 999999;
}

#app-toolbar label {
    font: sans-serif;
    font-size: small;
}

#app-entity-properties {
    background:lightblue;
    position:absolute;
    right: 20px;
    top: 20px;
    height: 80%;
    width: 20%;
    text-align: center;
    z-index: 999999;
}
